/*
Theme Name: Sport Town Theme
Theme URI: http://websterlab.ru
Description: Sport Town Theme Bootstrap v4.
Version: 1.0
Author: Ishkov Vladislav
Author URI: http://websterlab.ru
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:
*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face{
  font-family: 'Raleway';
  src: url('fonts/raleway/Raleway-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}
@font-face{
  font-family: 'Raleway';
  src: url('fonts/raleway/Raleway-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face{
  font-family: 'Raleway';
  src: url('fonts/raleway/Raleway-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family: 'Raleway';
  src: url('fonts/raleway/Raleway-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Raleway';
  src: url('fonts/raleway/Raleway-SemiBold.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family: 'Raleway';
  src: url('fonts/raleway/Raleway-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: 'Raleway';
  src: url('fonts/raleway/Raleway-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}
/* End */

/* Button */
.btn-b-green{
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 122%;
  color: #212324;
  padding: 13px 30px;
  box-shadow: 0px 0px 0px 2px #A1CD3F inset;
  box-sizing: border-box;
  border-radius: 50px;
  margin-bottom: 49px;
  transition: .3s;
}
.btn-b-white{
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 122%;
  color: #212324;
  padding: 13px 30px;
  box-shadow: 0px 0px 0px 2px #fff inset;
  box-sizing: border-box;
  border-radius: 50px;
  margin-bottom: 49px;
}
.btn-b-blue{
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 122%;
  color: #212324;
  padding: 13px 30px;
  box-shadow: 0px 0px 0px 2px #34C6D5 inset;
  box-sizing: border-box;
  border-radius: 50px;
  margin-bottom: 49px;
  white-space: nowrap;
}
.btn-blue{
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 122%;
  text-align: center;
  color: #212324;
  background: #34C6D5;
  opacity: 0.9;
  border-radius: 50px;
  padding: 13px 30px;
  white-space: nowrap;
}
.btn-green{
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 122%;
  text-align: center;
  color: #212324;
  background: #A1CD3F;
  opacity: 0.9;
  border-radius: 50px;
  padding: 13px 30px;
}
.btn-b-green:hover,
.btn-b-white:hover,
.btn-b-blue:hover{
  text-decoration: none;
  transition: .3s;
  color: #212324;
}
.btn-b-green:hover{
  box-shadow: 0px 0px 0px 4px #A1CD3F inset;
}
.btn-b-white:hover{
  box-shadow: 0px 0px 0px 4px #fff inset;
}
.btn-b-blue:hover{
  box-shadow: 0px 0px 0px 4px #34C6D5 inset;
}
.btn-blue:hover,
.btn-green:hover{
  text-decoration: none;
  color: inherit;
  background: #B2BEC2;
}
.btn-float{
  position: fixed;
  right: 120px;
  bottom: 94px;
  z-index: 999;
}

.sticker-blue{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
  background: #14B1C1;
  padding: 0px 5px;
  display: inline-block;
  margin-bottom: 11px;
  white-space: nowrap;
}
.sticker-green{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #212324;
  background: #A1CD3F;
  padding: 0px 5px;
  display: inline-block;
  margin-bottom: 11px;
}
/* End */

/* Body */
body{
  padding-top: 70px;
}
/* Body End */

/* Стили для главного меню */
.navbar{
  padding: 0px;
  background-color: #fff;
  /* border-bottom: 1px solid rgba(178,190,194,0.5); */
  box-shadow: 0px -1px 0px 0px rgba(178,190,194,0.5) inset;
}
.navbar-brand{
  /* margin-bottom: 5px; */
}
.navbar-toggler{
  padding: 0px;
  border: 0px;
  width: 52px;
  height: 52px;
  border-radius: 0px;
}
.navbar-toggler[aria-expanded="false"]{
  background-color: #14B1C1;
  background-image: url('img/icons/open.svg');
}
.navbar-toggler[aria-expanded="true"]{
  background-color: #14B1C1;
  background-image: url('img/icons/close.svg');
}
.navbar-toggler:focus{
  outline: none;
}
.navbar-nav .nav-link {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 29px 0 17px;
  border-bottom: 10px solid #fff0;
}
.navbar-nav .nav-link:hover{
  text-decoration: none;
  border-bottom: 10px solid #14b1c1;
}
.navbar-nav .current-menu-item>a{
  border-bottom: 10px solid #14b1c1;
}
.header-menu{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.header-menu .navbar-collapse{
  justify-content: space-between;
}
.header-phone{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.phone{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
.phone>a{
  color: #212324 !important;
}
.mobile-menu{
  display: none;
}
.menu-new a:after{
  content: "New";
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 7px;
  line-height: 7px;
  text-transform: uppercase;
  color: #fff;
  background: #E42626;
  border-radius: 2px;
  padding: 3px 3px;
  margin-left: 5px;
  display: inline-block;
}
.menu-new a{
  display: flex;
  align-items: center;
}
/* End */

/* Home page */
.homepage{
  background: #F6F9FA;
}
.home-block-1{
  background-image: url('img/home/home-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* .home-block-1::before{
  content: '';
   background-image: url('img/home-bg.jpg');
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: -1;
} */
.home-logo{
  display: block;
  padding-top: 145px;
}
.home-text{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
}

.home-block-promo{
  padding-top: 60px;
  padding-bottom: 40px;
}
.home-block-promo.home-aqua{
  margin-top: 178px;
}
.home-block-promo h1{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
  text-align: right;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
}
.home-block-promo p{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
  max-width: 370px;
}

.sub-block-3{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
  padding-bottom: 176px;
  padding-top: 190px;
}
.num-text{
  font-weight: 100;
  font-size: 80px;
  line-height: 70px;
}
.num-desc{
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 10px;
}

.home-block-event{
  padding: 150px 0px;
}
.home-link{
  display: block;
  text-align: right;
  margin-top: 37px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 14px;
  text-decoration-line: underline;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #4CBED0;
}
.home-link:hover{
  text-decoration: none;
  color: #4CBED0;
}

.home-block-card{
  min-height: 800px;
  background-image: url('img/home/home-card.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
}
.home-block-card .title{
  margin-top: 148px;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #212324;
}
.home-block-card .text{
  max-width: 380px;
  margin: 10px 0px 33px;
}

.block-2{
  margin-top: 40px;
  margin-bottom: 50px;
}
.line-white{
  border-top: 1px solid #fff;
}

.home-block-service{
  padding-bottom: 108px;
}
.home-block-service .block-service{
  justify-content: center;
}
.home-block-space{
  margin-top: -85px;
}
.home-block-space .row{
  justify-content: center;
}
.home-slide-item{
  max-width: 570px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 30px;
}
.home-slide-desc{
  background: #fff;
  padding: 27px 27px 37px 27px;
}
.home-slide-title{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 42px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
}
.home-slide-subtitle{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
}
/* End */

/* Inner Page */
/* .header-page .logo{
  display: block;
  margin: 79px 0px;
}
.header-page.header-line .container{
  border-bottom: 1px solid rgba(178,190,194,0.5);
} */

.breadcrumbs-wrapper{
  padding-top: 70px;
}
.breadcrumbs,
.breadcrumbs a{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #14B1C1;
}
.breadcrumbs span{
  color: #B2BEC2;
  margin: 0 5px;
}

.page-wrapper{
  padding-bottom: 104px;
}

h1.page-title{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 50px;
  line-height: 60px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #212324;
  margin: 15px 0px 50px;
}
h1.post-title{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 50px;
  line-height: 60px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
}
.inner-page p{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #212324;
  max-width: 720px;
}
.inner-page h2{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 15px;
}
.inner-page h3{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #212324;
  margin-top: 60px;
}
.inner-page blockquote>p{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #212324;
  max-width: 540px;
}
.inner-page strong{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #212324;
}
.inner-page ul{
  list-style-type: none;
  padding-left: 20px;
  margin-top: 17px;
  margin-bottom: 50px;
}
.inner-page ul li{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px !important;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #212324;
  padding-top: 5px;
  position: relative;
}
.inner-page ul>li:before{
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid #C6E14E;
  position: absolute;
  top: 11px;
  left: -20px;
}
.img-post{
  margin-bottom: 33px;
}
.wp-block-separator{
  margin: 70px 0px 35px;
}

.sidebar{
  position: sticky;
  top: 80px;
}
.sidebar-title{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #212324;
  margin-bottom: 19px;
}
.sidebar-menu{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  list-style-type: none;
  margin: 40px 0px;
  padding: 0;
  transition: .3s;
}
.sidebar-menu a{
  color: #212324;
  padding: 0px;
}
.sidebar-menu a:hover{
  text-decoration: underline;
}
.sidebar-menu .current-cat>a{
  font-weight: bold;
}
.sidebar-menu a[aria-current="page"]{
  font-weight: bold;
}
.sidebar-menu li.foto-menu a{
  border-bottom: 1px solid #B2BEC2;
  margin-bottom: 14px;
  padding-bottom: 14px;
}

.sidebar .club-info{
  margin-bottom: 25px;
}
.club-info .num-text{
  color: #14B1C1;
  font-weight: 100;
}
.club-info .num-desc{
  color: #212324;
  font-weight: normal;
  line-height: 16px;
  margin-top: 5px;
}
/* End */

/* Gallery */
ul.blocks-gallery-grid{
  padding: 0px;
  margin: 0px 0px 50px;
  flex-flow: wrap-reverse;
}
ul.blocks-gallery-grid>li:before{
  display: none;
}
ul.blocks-gallery-grid .blocks-gallery-item{
  z-index: 2;
  margin: 0px !important;
}
ul.blocks-gallery-grid .blocks-gallery-item:last-child{
  margin-bottom: -70px !important;
  z-index: 1;
}

.st-gallery{
  margin-bottom: 50px;
}
.st-gallery .add-img{
  display: flex;
  flex-direction: row;
  margin-top: -60px;
  z-index: 2;
}
.st-gallery .add-img-item{
  width: 22%;
  height: auto;
  position: relative;
}
.st-gallery .add-img-item:last-of-type::before{
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #A1CD3F;
  opacity: 0.9;
  top: 0;
  left: 0;
}
.st-gallery .add-img-item:last-of-type::after{
  content: 'Смотреть все фото';
  position: absolute;
  width: 50%;
  height: auto;
  top: calc(50% - 14px);
  left: calc(50% - 47px);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
  text-align: center;
}
/* Gallery End */

/* Modal Popup */
.modal-wrapper.styled .modal{
  margin: 0px !important;
  width: 100% !important;
  border: none !important;
}
.modal{
  overflow: auto !important;
}
.modal-wrapper.styled{
  background: none !important;
}
.modal-wrapper{
  top: 70px !important;
}
.close-modal:focus{
  outline: none !important;
}
.modal-wrapper.styled .modal ul li{
  list-style: none !important;
  margin-left: 0px !important;
}
.modal-wrapper.styled .modal h3{
  font-size: inherit !important;
}
/* End */

/* Floor page */
.floor-page{
  padding: 30px 0px;
  background-color: #14B1C1;
}
.floor-sidebar{
  list-style-type: none;
  padding: 50px 0px 35px;
  border-top: 0.5px solid #FFFFFF;
  border-bottom: 0.5px solid #FFFFFF;
  margin-top: 50px
}
.floor-sidebar li{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #fff;
  margin-bottom: 15px;
}
.floor-sidebar li:hover{
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}
.floor-sidebar li.active{
  font-weight: bold;
}
.floor-map-item{
  display: none;
}
.floor-map-item:first-child{
  display: block;
}
/* Floor page End */

/* Teams page */
.teams{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-feature-settings: 'pnum' on, 'lnum' on;
  margin-bottom: 60px;
}
.teams .name{
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: #212324;
  max-width: 210px;
  margin: 10px 0 11px;
}
.teams .master{
  font-weight: normal;
  font-size: 11px;
  line-height: 12px;
  text-transform: uppercase;
  color: #212324;
  margin-bottom: 5px;
}
.teams .stage{
  font-weight: normal;
  font-size: 11px;
  line-height: 12px;
  text-transform: uppercase;
  color: #212324;
}
/* End */

/* Trainer Page */

/* End */

/* Space page */
.landing-block{
  display: flex;
  align-items: flex-end;
  padding-bottom: 84px;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
}
.space-block-1{
  background-image: url('img/space/space1.jpg');
}
.space-block-2{
  background-image: url('img/space/space2.png');
}
.space-block-3{
  background-image: url('img/space/space3.jpg');
}
.space-block-4{
  background-image: url('img/space/space4.png');
}
.space-block-5{
  background-image: url('img/space/space5.jpg');
}
.space-block-6{
  background-image: url('img/space/space6.jpg');
}
/* End */

/* Club card page */
.club-block-1{
  min-height: 800px;
  background-image: url('img/club-card/img1.jpg');
}
.club-block-2{
  background-image: url('img/club-card/img2.jpg');
}
.club-block-3{
  background-image: url('img/club-card/img3.jpg');
}
.club-block-4{
  background-image: url('img/club-card/img4.jpg');
}
.sub-set{
  list-style-type: none;
  padding-left: 20px;
  margin-top: 17px;
}
.sub-set li{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #212324;
  padding-top: 5px;
  position: relative;
}
.sub-set>li:before{
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid #A1CD3F;
  position: absolute;
  top: 11px;
  left: -20px;
}
.list-h{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 75px;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #212324;
}
.sub-list{
  list-style-type: none;
  padding: 0px;
  margin-bottom: 23px;
  margin-top: 10px;
}
.sub-list li,
.sub-list a{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #212324;
  padding: 5px 0px;
}
.sub-list-white a,
.sub-list-white li{
  color: #fff;
}
.text{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #212324;
}
.club-block-sub{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #212324;
}
.club-block-line{
  max-width: 426px;
  height: 0px;
  border: 1px solid #FFFFFF;
  margin: 60px 0px;
}
/* End */

/* Service page */
.service-block-1{
  background-image: url('img/service/img1.jpg');
}
.service-block-2{
  background-image: url('img/service/img2.jpg');
}
.service-block-3{
  background-image: url('img/service/img3.jpg');
}
.service-block-4{
  background-image: url('img/service/img4.jpg');
}
.service-block-5{
  background-image: url('img/service/img5.jpg');
}
.service-block-6{
  background-image: url('img/service/img6.png');
}
.service-block-7{
  background-image: url('img/service/img7.jpg');
  background-position: top center;
}
/* End */

/* Event page */
.event-archive{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #212324;
}
.event-item{
  position: relative;
  margin-top: 53px;
  margin-bottom: 53px;
}
.event-date{
  margin-right: 25px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #212324;
  min-width: 100px;
}
.event-date>span{
  color: #14B1C1;
  margin: 0px 5px;
}
.event-title{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 42px;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #14B1C1;
  margin: 15px 0px;
}
.event-text{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #212324;
}
.event-img{
  margin-bottom: 21px;
}
.event-archive-item{
  display: flex;
  padding: 37px 0px;
  border-top: 1px solid rgba(178,190,194,0.5);
}
.event-archive-item:last-of-type{
  border-bottom: 1px solid rgba(178,190,194,0.5);
}
.event-archive-item .event,
.event-archive-item .event a{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #212324;
}
/* End */

/* Footer */
.footer{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
.footer .container{
  padding-top: 104px;
  padding-bottom: 104px;
  border-top: 1px solid #B2BEC2;
}
.footer a.nav-link{
  padding: 0;
}
.footer a:hover{
  text-decoration: underline;
}
.social{
  margin-top: 45px;
}
.social img{
  margin-right: 15px
}
.footer .site-copy{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #B2BEC2;
  margin-top: 29px;
}
.footer .site-copy a{
  color: #B2BEC2;
}
.footer-menu{
  display: flex;
  align-items: center;
  height: 100%;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.footer-menu li{
  margin-right: 15px;
}
.footer-menu a{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #212324;
}
.app{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.app-icons{
  display: flex;
}
.app-header{
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  text-transform: uppercase;
  color: #212324;
  margin-right: 25px;
  white-space: nowrap;
}
/* End */

/* Text color */
.text-blue{
  color: #34C6D5;
}
.text-green{
  color: #A1CD3F;
}
/* End */

/* Error 404 */
.error-404{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 400px;
  line-height: 400px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
/* Error 404 End */

@media(max-width: 992px) {
  body{
    padding-top: 52px;
  }
  /* Main menu */
  .header-menu .navbar-collapse{
    width: 100vw;
    height: 100vh;
    background: #fff;
    padding-top: 15px;
    overflow: auto;
  }
  .header-menu .nav-link{
    font-weight: bold;
    padding: 25px 25px 0px 15px;
    border: none !important;
  }
  .navbar-mobile{
    width: 100%;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 999;
  }
  .mobile-menu{
    display: flex;
  }
  .mobile-menu .nav-link{
    font-weight: normal;
  }
  .navbar-brand{
    display: flex;
  }
  .navbar-brand img{
    width: 135px;
    margin-left: 15px;
  }
  .header-phone{
    padding: 30px 0px 15px 15px;
  }
  .header-phone .phone{
    font-size: 18px;
    line-height: 34px;
    color: #000;
  }
  /* Main Menu End */
  .modal-wrapper{
    top: 52px !important;
  }
  .modal-wrapper .teams{
    margin-bottom: 0px;
  }
}

@media(max-width: 768px){
  /* Home page */
  .event-archive{
    margin-bottom: 25px;
  }
  /* Home page End */

  /* Landing block */
  .list-h{
    font-size: 60px;
    line-height: 57px;
  }
  .btn-float{
    right: 20px;
  }
  /* End */

  /* Footer */
  .footer .app{
    justify-content: flex-start;
  }
  /* End */
}

@media(max-width: 450px) {
  .header-page{
    display: none;
  }

  .header-page .logo,
  .home-logo{
    margin: 10px 0px 11px 25px;
  }
  .logo img,
  .home-logo img {
    width: 190px;
    height: auto;
  }

  /* Inner page */
  h1.page-title{
    font-size: 15px;
    line-height: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 30px 0px 20px 0px;
    padding-bottom: 16px;
    border-bottom: 1px solid #212324;
  }
  .inner-page h2{
    font-size: 30px;
    line-height: 34px;
  }
  /* Inner page End */

  /* Sidebar */
  .sidebar-title{
    font-size: 15px;
    line-height: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 30px 0px 20px 0px;
    padding-bottom: 16px;
    border-bottom: 1px solid #212324;
    position: relative;
  }
  .sidebar .sidebar-title:before{
    content: " ";
    position: absolute;
    right: 3px;
    top: 3px;
    width: 14px;
    height: 8px;
    background-image: url('img/icons/dropdown.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
  .changed.sidebar-title:before{
    transform: rotate(180deg);
  }
  .sidebar-menu{
    margin-top: 0px;
    display: none;
  }
  .sidebar .btn-blue{
    display: none;
  }
  /* End */

  /* Home page */
  .homepage{
    background: #fff;
  }
  .home-block-1{
    background-image: url('img/home/home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: scroll;
  }
  .home-block-promo h1{
    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }
  .home-block-promo.home-aqua{
    margin-top: 69px;
    margin-bottom: 0px;
  }
  .sub-block-3{
    padding-top: 40px;
    padding-bottom: 137px;
  }
  .sub-block-3 .col-md-4{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .num-text{
    font-size: 40px;
    line-height: 45px;
    width: 45%;
    text-align: right;
    padding-right: 17px;
  }
  .num-desc{
    font-size: 12px;
    line-height: 16px;
    width: 55%;
    text-align: left;
  }
  .home-link{
    margin-top: 20px;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 122%;
    padding: 13px 30px;
    box-shadow: 0px 0px 0px 2px #34C6D5 inset;
    box-sizing: border-box;
    border-radius: 50px;
    margin-bottom: 49px;
    white-space: nowrap;
    text-decoration: none;
  }
  .home-block-card{
    min-height: 60vh;
    background-image: url('img/home/home-card-m.jpg');
    background-size: cover;
  }
  .home-block-card .title{
    font-size: 36px;
    line-height: 36px;
    margin-top: 48px;
  }

  .home-block-event{
    padding: 80px 0px;
  }

  .home-slide-desc{
    padding: 15px 0px 5px 0px;
  }
  .home-slide-title{
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 5px;
  }
  .home-slide-subtitle{
    font-size: 12px;
    line-height: 16px;
  }
  /* End */

  /* Club card page */
  .landing-block{
    align-items: flex-start;
    padding-top: 72px;
    height: 500px;
  }
  .list-h{
    font-size: 33px;
    line-height: 33px;
  }
  .landing-block .text,
  .club-block-line{
    display: none;
  }
  .sub-set{
    margin-bottom: 60px;
  }
  .club-block-1{
    background-color: #D8D8D3;
    background-image: url('img/club-card/img1-m.jpg');
    background-size: contain;
    background-position: bottom;
    padding-top: 0px;
  }
  .club-block-2{
    background-image: url('img/club-card/img2-m.jpg');
    background-size: cover;
  }
  .club-block-3{
    background-image: url('img/club-card/img3-m.jpg');
    background-size: cover;
  }
  .club-block-4{
    background-image: url('img/club-card/img4-m.jpg');
    background-size: cover;
  }
  /* End */

  /* Space page */
  .space-block-1{
    background-image: url('img/space/space1-m.jpg');
    background-size: cover;
    padding-top: 0px;
  }
  .space-block-1 .page-title{
    border-bottom-color: white;
  }
  .space-block-2{
    background-image: url('img/space/space2-m.jpg');
    background-size: cover;
  }
  .space-block-3{
    background-image: url('img/space/space3-m.jpg');
    background-size: cover;
  }
  .space-block-4{
    background-image: url('img/space/space4-m.jpg');
    background-size: cover;
  }
  .space-block-5{
    background-image: url('img/space/space5-m.jpg');
    background-size: cover;
  }
  .space-block-6{
    background-image: url('img/space/space6-m.jpg');
    background-size: cover;
  }
  /* End */

  /* Service page */
  .service-block-1{
    background-image: url('img/service/img1-m.jpg');
    background-size: cover;
    padding-top: 0px;
  }
  .service-block-2{
    background-image: url('img/service/img2-m.jpg');
    background-size: cover;
  }
  .service-block-3{
    background-image: url('img/service/img3-m.jpg');
    background-size: cover;
  }
  .service-block-4{
    background-image: url('img/service/img4-m.jpg');
    background-size: cover;
  }
  .service-block-5{
    background-image: url('img/service/img5-m.jpg');
    background-size: cover;
  }
  .service-block-6{
    background-image: url('img/service/img6-m.jpg');
    background-size: cover;
  }
  .service-block-7{
    background-image: url('img/service/img7-m.jpg');
    background-size: cover;
  }
  .btn-float{
    display: none;
  }
  /* End */

  /* Teams page */
  .teams .name{
    font-size: 17px;
    line-height: 20px;
  }
  .teams .stage,
  .teams .master{
    font-size: 11px;
  }
  /* End */

  /* Event */
  .event-item{
    margin-top: 31px;
    margin-bottom: 31px;
  }
  .event-title{
    font-size: 30px;
    line-height: 32px;
  }
  .event{
    margin-top: 5px;
  }
  .event-img{
    padding: 0px;
  }
  /* .event-archive{
    margin-top: 38px;
  } */
  .event-archive-item{
    flex-direction: column;
    padding: 20px 0px 28px 0px;
  }
  /* End */

  /* Footer */
  .footer .container{
    padding-top: 53px;
    padding-bottom: 53px;
  }
  .app{
    flex-direction: column;
    align-items: flex-start;
  }
  .app-icons{
    margin-top: 19px;
  }
  .app-header{
    text-align: left;
  }
  .social{
    margin-top: 35px;
  }
  /* Footer End */

  /* Error 404 */
  .error-404{
    font-size: 170px;
    line-height: 170px;
  }
  /* Error 404 End */
}
